{{!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Screen</title>
  <style>
    /* General body styles */
    body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-color: #f4f4f4; /* Light background color for body */
    }
    /* Centering wrapper */
    .email-wrapper {
      display: flex;
      margin: 2rem;
      padding: 2rem;
      background-color:#f1f1f1;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-height: 100%;
      margin-top: 5rem;
    }
    /* Email content box */
    .email-content {
      width: 100%;
      background-color: #333;
      padding: 5rem 10rem;
      gap: 1rem;
    }
    /* Text styling */
    .email-content p {
      margin: 0;
      color: #f1f1f1; /* Light text color on dark background */
    }
    /* Button styling */
    .confirm-btn button {
      background-color: #007bff;
      border: none;
      color: white;
      padding: 1rem 2rem;
      font-size: 1rem;
      border-radius: 5px;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <div class="email-wrapper">
    <div class="email-content">
      <div class="headers" style="text-align: center; margin-bottom: 1rem;">
        <p style="font-size: 1.5rem;">Hello!</p>
      </div>
      <div class="body-content" style="text-align: center; margin-bottom: 1rem;">
        <p>This message is sent for you to confirm that you have made an account on Green Book Website. By clicking the button below, your account will be activated.</p>
      </div>
      <div class="confirm-btn" style="text-align: center;">
         <a href="http://localhost:8000/users/confirm?token={{token}}&email={{recipient}}" target="_blank">Confirm Account</a>
      </div>
    </div>
  </div>
</body>
</html> --}}
